html { background: white; padding: 0; margin: 0; }
body { 
    width: 100%; height: 100%; 
    font-family: 'Roboto',sans-serif; 
    color: black;
}
a:active, a:visited { color: black; }

.container {
    width: 80%; margin: auto;
}
.cell { display: inline-block; }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    padding: 8px;
}
